<div class="market-quick-links mb-3 mt-3">
    <div class="row">
        <div class="col-md-9">
            <div class="card stock-section">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">SPDR S&P 500 (SPY)</a>
                            <span class="nav-value">$268.76</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-up">(0.95%)<i class="fa fa-caret-up ticker-up"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">SPDR S&P 500 (SPY)</a>
                            <span class="nav-value">$268.76</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-up">(0.95%)<i class="fa fa-caret-up ticker-up"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">iShares Russell 2000 (IWM)</a>
                            <span class="nav-value">$147.43</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-down">(0.28%)<i class="fa fa-caret-down ticker-down"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row second-row no-gutters">
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">SPDR Gold Shares (GLD)</a>
                            <span class="nav-value">$124.75</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-down">(0.45%)<i class="fa fa-caret-down ticker-down"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">SPDR S&P 500 (SPY)</a>
                            <span class="nav-value">$268.76</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-up">(0.95%)<i class="fa fa-caret-up ticker-up"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="stock-ticker-price widget-content">
                            <a routerLink="">ABC Industrial Average (AIA)</a>
                            <span class="nav-value">$185.30</span>
                            <span class="separator">|</span>
                            <span class="stock-ticker-up">(0.58%)<i class="fa fa-caret-up ticker-up"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 quick-links-column">
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="card border-secondary text-center exh-funds-card">
                        <div class="card-body">
                            <span><i class="fa fa-balance-scale"></i><span class="quick-link-text">Exchange Funds</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-secondary text-center exh-funds-card">
                        <div class="card-body">
                            <span><i class="fa fa-suitcase"></i><span class="quick-link-text">Tax Planning</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="card border-secondary text-center exh-funds-card">
                        <div class="card-body">
                            <span><i class="fa fa-money"></i><span class="quick-link-text">Rollover Money</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-secondary text-center exh-funds-card">
                        <div class="card-body">
                            <span><i class="fa fa-sliders"></i><span class="quick-link-text">Income Calculator</span></span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="row quick-links-row">
                    <div class="col-6">
                        <button type="button" class="btn btn-sm">Switch Funds</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-sm">Buy Funds</button>
                    </div>
                </div>
                <div class="row quick-links-row">
                    <div class="col-6">
                        <button type="button" class="btn btn-sm">Tax Planning</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-sm">Calculator</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>