.mail-box {
    font-size: 36px;
}

.notification-box {
    font-size: 36px;
    margin-left: 30px;
}

.logo {
  padding-left: 12px;
  img {
    max-width:94px;
    max-height:94px;
    width:auto;
    height:auto;
  }
}

.app-header {
  max-height: 80px;
}
