.cards-and-summary {
  .row {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main-heading {
    color: #96151d;
    margin-left: 20px;
    font-size: 1.8rem
  ;
  }
}
.card-tabs {
  .plans-tab, .mutual-funds-tab, .etf-tab, .all-investments-tab {
    .widget-content .widget-content-right .widget-heading {
      opacity: 0.8;
      font-weight: bold;
    }
    .widget-content .widget-content-right .widget-subheading {
      opacity: 0.5;
    }
    .widget-content-wrapper {
      width: 100%;
    }
    .widget-numbers {
      font-size: 1.2rem;
    }
    .widget-heading {
      opacity: 0.8;
      font-weight: bold;
      font-size: 1.4rem;
    }
    .card {
      cursor: pointer;
    }
    .card:hover:not(.active) {
      background-image: linear-gradient(#a3bded , #6991c7);
      /*transition: all 0.4s ease-in-out;
      transform: scale(1.1);*/
    }
    .nav-link.active, .show > .nav-link {
      background-image: linear-gradient(#13547a   , #80d0c7);
      border-bottom: 4px solid #13547a !important;
    }
  }
}
.summary-tab-content {
  .plans-table-row, .mf-table-row, .etf-table-row, .all-table-row {
    padding-left: 15px;
    padding-right: 5px;
    .chart-card {
      padding-right: 0;
      .widget-chart-content-lg {
        padding-top: 12px;
        padding-bottom: 35px;
        .widget-numbers {
          font-size: 1.5rem;
        }
      }
    }
    .main-card .table-responsive{
      overflow-x: hidden;
    }
    .main-card .table-responsive:hover {
      overflow-x: auto;
    }
  }
  .plans-table-row, .mf-table-row, .etf-table-row {
    .col-md-7, .col-md-5 .card {
      border-width: 0;
    }
    .col-md-7 {
      padding-left: 0;
    }
    border: 1px solid rgba(0, 0, 0, 0.125);
    .card-header {
      button {
        margin-bottom: 0 !important;
        padding: 3px 8px;
      }
    }
  }

  .plans-table-row {
    .table-responsive {
      // overflow-x: hidden;
    }
  }
  .all-table-row {
    .all-bar-charts-div .widget-chart-content-lg {
      padding-bottom: 0 !important;
      padding-left: 5px;
    }
    .all-returns-stack {
      margin-top: 2rem;
      .widget-content {
        padding: 0.5rem 1.5rem;
        .widget-progress-wrapper {
          margin-top: 0;
        }
        .progress-sub-label {
          padding-top: 0;
        }
        .widget-content-left .widget-heading {
          padding-bottom: 8px;
        }
        .mutual-funds-gain-bar {
          background-color: #30b1ff;
        }
        .etf-gain-bar {
          background-color: #f7b924;
        }
        .plans-gain-bar {
          background-color: #56c479;
        }
        .mf-gain-amount-color {
          color: #30b1ff;
        }
        .etf-gain-amount-color {
          color: #f7b924;
        }
        .plans-gain-amount-color {
          color: #56c479;
        }

      }
    }
  }
}
.br-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.bt-1 {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

