<div class="sidebar-content">
    <div class="sidebar-item text-center selected">
      <div class="text-icon-div">
        <img src="../../../assets/images/sidebar/dashboard.png" alt="dashboard">
        <p class="text-white item-text">Dashboard</p>
      </div>
    </div>

    <div class="sidebar-item text-center">
      <div class="text-icon-div">
      <img src="../../../assets/images/sidebar/save.png" alt="dashboard">
        <p class="text-white item-text">Accounts</p>
      </div>
    </div>

    <div class="sidebar-item text-center">
      <div class="text-icon-div">
      <img src="../../../assets/images/sidebar/puzzle-piece.png" alt="dashboard">
        <p class="text-white item-text">Planning</p>
      </div>
    </div>

    <div class="sidebar-item text-center">
      <div class="text-icon-div">
      <img src="../../../assets/images/sidebar/product.png" alt="dashboard">
        <p class="text-white item-text">Products</p>
      </div>
    </div>

    <div class="sidebar-item text-center">
      <div class="text-icon-div">
      <img src="../../../assets/images/sidebar/staff.png" alt="dashboard">
        <p class="text-white item-text">Support</p>
      </div>
    </div>

    <div class="sidebar-item text-center">
      <div class="text-icon-div">
      <img src="../../../assets/images/sidebar/news.png" alt="dashboard">
        <p class="text-white item-text">Articles</p>
      </div>
    </div>
</div>
