.sidebar-content {
    background-color: #96151d;
    width: fit-content;
}

.sidebar-item {
    text-align: center;
    width: 126px;
    height: 100px;
}

.sidebar-item:hover {
    background-color: #5c0309;
}

.item-text {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 0px !important;
}
