<div class="sidebar-content">
    <div class="sidebar-item">
        <p class="text-white item-text">Dashboard</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Accounts</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Planning</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Products</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Reports</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Support</p>
    </div>

    <div class="sidebar-item">
        <p class="text-white item-text">Articel</p>
    </div>
</div>
