.cards-and-summary {
    .row {
        margin-left: 5px;
        margin-right: 5px;
    }
    height: 15%;
}

.card {
    width: inherit;
    max-height: fit-content;
}

.set-box {
    max-height: 52%;
}

.border-primary {
    max-height: 60%;
}

.padding-fix {
    padding-left: 16px;
    margin-bottom: 8rem;
}

.header-content {
    display: flex;
}

.dropdown-section {
    padding-left: 40px;
}

.pay-now {
    border: 1px solid #96151d;
    border-radius: 30px;
    background-color: #ffffff;
    width: 70%;
    color: #96151d;
    height: 30px;
    padding-top: 2px;
    margin-top: 7px;
    margin-bottom: 12px;
    font-size: initial;
}

.data-card {
    margin-right: 11px;
    border-radius: 3px;
    border-width: thin;
}

.he-1 {
    max-height: 20px;
}

.paid-btn {
    border: 1px solid grey;
    border-radius: 30px;
    width: 70%;
    height: 30px;
    padding-top: 2px;
    margin-top: 7px;
    margin-bottom: 12px;
    font-size: initial;
}

.info-text {
    font-size: smaller;
    font-family: inherit;
}

.header-content {
    font-size: medium;
    font-weight: inherit;
}

.list-group-item {
    border-width: 0px;
    padding-bottom: 0px;
}

// .list-group {
//     // margin: 0 30px 0 -20px;
// }
.scrollbar-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #cac8cf;
}

.scrollbar-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    // border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #d2cbcd;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.bordered-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    // border: 1px solid #d2cbcd;
}

.bordered-deep-purple::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.bordered-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    // border: 1px solid #00bcd4;
}

.bordered-cyan::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 4px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 86%;
}

.btn-on {
    border: 1px solid;
}

.btn-default.btn-on.active {
    background-color: #5BB75B;
    color: white;
}

.btn-default.btn-off.active {
    background-color: #DA4F49;
    color: white;
}

.btn-default.btn-on-3.active {
    color: #5BB75B;
    font-weight: bolder;
}

.btn-default.btn-off-3.active {
    color: #DA4F49;
    font-weight: bolder;
}

.active {
    background-color: #96151d;
    color: #ffffff;
}

.btn-group {
    padding-left: 26%;
}

li {
    border-radius: 35px;
}

.nav-buttton {
    border-radius: 25px;
}

.col-sm-8 {
    height: fit-content;
}
