<div class="cards-and-summary">
    <div class="row plans-table-row">

        <div class="col-sm-8 d-flex">
            <div class="card border-primary example-1 scrollbar-deep-purple bordered-deep-purple thin">
                <div class="card-header header-part">
                    <div>
                        <div class="header-section vl">
                            <div class="navbar-brand">Timeline</div>
                            <div class="btn-group">
                                <button class="btn active nav-buttton btn-on" (click)="showUpcommingData()" [class.active]="selectedTab =='upcomming'">Upcoming</button>
                                <button class="btn nav-buttton active btn-on" (click)="previousData()" [class.active]="selectedTab =='previousData'">Last Quater</button>
                                <button class="btn nav-buttton active btn-on" (click)="showCustomData()" [class.active]="selectedTab =='customData'">Custom</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body flex-fill" *ngIf="timelineData">
                    <div class="card-group" *ngIf="upcommingData">
                        <div class="card data-card" *ngFor="let featureDataItem of timelineData.featureData">
                            <div class="card-body">
                                <span class="header-text">{{featureDataItem.planName}}</span><br>
                                <span class="info-text">Account</span><span class="info-text">{{featureDataItem.AccountNumber}}</span><br>
                                <span class="info-text">Date:</span><span class="info-text">{{featureDataItem.Date}}</span><br>
                                <span class="info-text">Amount:</span><span class="info-text">{{featureDataItem.Amount}}</span><br>
                            </div>
                        </div>
                    </div>

                    <div class="card-group" *ngIf="pastData">
                        <div class="card data-card" *ngFor="let pastDataItem of timelineData.pastData">
                            <div class="card-body">
                                <span class="header-text">{{pastDataItem.planName}}</span><br>
                                <span class="info-text">Account</span><span class="info-text">{{pastDataItem.AccountNumber}}</span><br>
                                <span class="info-text">Date:</span><span class="info-text">{{pastDataItem.Date}}</span><br>
                                <span class="info-text">Amount:</span><span class="info-text">{{pastDataItem.Amount}}</span><br>
                            </div>
                        </div>
                    </div>

                    <div class="card-group" *ngIf="customData">
                        <div class="card data-card" *ngFor="let featureDataItem of timelineData.featureData">
                            <div class="card-body">
                                <span class="header-text">{{featureDataItem.planName}}</span><br>
                                <span class="info-text">Account</span><span class="info-text">{{featureDataItem.AccountNumber}}</span><br>
                                <span class="info-text">Date:</span><span class="info-text">{{featureDataItem.Date}}</span><br>
                                <span class="info-text">Amount:</span><span class="info-text">{{featureDataItem.Amount}}</span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 d-flex">
            <div class="card border-success set-box">
                <div class="card-header header-part">
                    <div>
                        <div class="header-section vl">
                            <div class="navbar-brand">News feed</div>
                        </div>
                    </div>
                </div>
                <div class="card-body news-feed-card flex-fill example-1 scrollbar-deep-purple bordered-deep-purple thin">
                    <div class="trending-plans">
                        <ul class="list-group">
                            <li class="list-group-item  align-items-center" *ngFor="let newsFeedItem of newsFeedData; index as i">
                              <div><a [routerLink]="">{{ newsFeedItem.newsLink }} </a></div>
                              <div>{{ newsFeedItem.date}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
