<div class="cards-and-summary">
    <div class="article-text">Article</div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card card-1" style="width: 18rem;">
                <div>
                    <p class="head-text">Why Investment is Importent & Where to Invest?</p>
                </div>
                <div>
                    <p class="foot-text">12th Jan 2020</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card card-2" style="width: 18rem;">
                <div>
                    <p class="head-text">Invest & grow your finances</p>
                </div>
                <div style="padding-top: 26px;">
                    <p class="foot-text">12th Jan 2020</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card card-3" style="width: 18rem;">
                <div>
                    <p class="head-text">Investment Tips from Kelly Clark</p>
                </div>
                <div style="padding-top: 26px;">
                    <p class="foot-text">12th Jan 2020</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card card-4" style="width: 18rem;">
                <div>
                    <p class="head-text">12 Investing Tips From Charlie Munger That You Need to Hear</p>
                </div>
                <div>
                    <p class="foot-text">12th Jan 2020</p>
                </div>
            </div>
        </div>
    </div>
</div>
