.ml-1 {
    margin-left: 1.25rem !important;
    margin-right: 1.25rem !important;
}

.card {
    border-radius: 12px;
}

.cards-and-summary {
    .row {
        margin-left: 5px;
        margin-right: 28px;
        margin-top: 19px;
    }
    // padding-top: 2%;
}

.article-text {
    color: #96151d;
    padding-left: 25px;
    font-weight: 600;
    font-size: 22px;
}

.card-1 {
    background-image: url("../../../assets/images/articles/article_1_blur.jpg");
    height: 9rem;
    border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-2 {
    background-image: url("../../../assets/images/articles/article_2 _blur.jpg");
    height: 9rem;
    border-radius: 12px;
    background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-3 {
    background-image: url("../../../assets/images/articles/tips3_blur.jpg");
    height: 9rem;
    border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-4 {
    background-image: url("../../../assets/images/articles/tips_4blur.jpg");
    height: 9rem;
    border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.head-text {
    padding-left: 18px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.foot-text {
    padding-left: 18px;
    padding-top: 12px;
    color: white;
    font-size: 16px;
}

.right-text {
    text-align: end;
    text-decoration: underline;
}
