<div class="cards-and-summary">
    <div class="row">
        <div class="col-5">
            <p>@1995-2019 The Vanguard Group, Inc. All rights reserved.</p>
            <p>Vanguard Marketing Corporation, Distributor of the Vanguard Funds.</p>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-2">
                    <p>Privacy Center</p>
                    <p>Security</p>
                </div>
                <div class="col-4">
                    <p>Mutual fund prospectuses</p>
                    <p>Variable annuity propectuses</p>
                </div>
                <div class="col-6">
                    <p>Exchange-traded fund (ETF) prospectuses</p>
                    <p>Special notice to non-U.S. investors</p>
                </div>
            </div>
        </div>

    </div>
</div>
