<div class="cards-and-summary">
    <div class="row">
        <div class="col-5">
            <p class="ml-3">@2000-2019 The ABC Investors, Inc. All rights reserved.</p>
            <p class="ml-3">ABC Investors Marketing Corporation, Distributor of the ABC Funds.</p>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-3">
                    <p class="ml-5">Privacy Center</p>
                    <p class="ml-5">Security</p>
                </div>
                <div class="col-4">
                    <p class="ml-4">Mutual fund prospectuses</p>
                    <p class="ml-4">Variable annuity propectuses</p>
                </div>
                <div class="col-5">
                    <p class="ml-4">Exchange-traded fund (ETF) prospectuses</p>
                    <p class="ml-4">Special notice to non-U.S. investors</p>
                </div>
            </div>
        </div>

    </div>
</div>
