<div class="header-section">
    <app-header></app-header>
</div>

<div class="main">
    <div class="row margin-fix">
        <div class="col-1 sidebar-section">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-11">
            <app-market-quick-links></app-market-quick-links>
            <app-summary-cards-nav></app-summary-cards-nav>
            <app-suggetions></app-suggetions>
            <app-features></app-features>
            <app-articles></app-articles>
        </div>
    </div>
</div>
<div class="footer-section">
    <app-footer></app-footer>
</div>
